/* Index
- Shadows
- Gradients
*/
/************** Mixins ***************/
/* box-shadow Style - same for all usage */
/* Inner Shadow */
/* Gives text shadow to all browsers except IE*/
/* Gives linear gradient background with no stops on all browsers,
just one color at the top going to another color at the bottom,
assuming bottom color is the darker color the background color is
set for older browsers that can't handle it. */
/* linear gradient with 4 colors */
/* Transitions */
/* Site Color */
/* Breakpoints */
@font-face {
  font-family: 'Armour';
  src: url("/prod/public/fonts/ARMOURCd_W_Rg.47b76c71d1f4.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Armour';
  src: url("/prod/public/fonts/ARMOURCd_W_Md.5ad7d8529737.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/******************
Default Site Variables
*******************/
/* Vertical Rhythm */
/* Image Paths */
/* Body Styles */
/* Links */
/* Typography */
/* Sprite Path */
/* Header Variables */
/* Navigation Styles */
/* Subnav */
/* Forms */
/* Row Top - Page Background */
/* Site Wide Utility Styles */
/* Footer Styles */
/************* Variables ********************/
/* ======== Generic Variable ============== */
/* ======== Button Varibles =============== */
/*======== Search Button Variables ==========*/
/*======== Membership Package Variables ==========*/
/* End Variables */
/************** Mixins ***************/
/* Gives box shadow to all browsers except IE, right now no variables declared
so you're kind of stuck with the options listed below. */
/* Gives text shadow to all browsers except IE*/
/* Gives linear gradient background with no stops on all browsers,
just one color at the top going to another color at the bottom,
assuming bottom color is the darker color the background color is
set for older browsers that can't handle it. */
/* Transitions */
/* End Mixins */
/* Breakpoints */
@font-face {
  font-family: 'Armour';
  src: url("/prod/public/fonts/ARMOURCd_W_Rg.47b76c71d1f4.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Armour';
  src: url("/prod/public/fonts/ARMOURCd_W_Md.5ad7d8529737.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/******************
Default Site Variables
*******************/
/* Vertical Rhythm */
/* Image Paths */
/* Body Styles */
/* Links */
/* Typography */
/* Sprite Path */
/* Header Variables */
/* Navigation Styles */
/* Subnav */
/* Forms */
/* Row Top - Page Background */
/* Site Wide Utility Styles */
/* Footer Styles */
html {
  height: 100%;
}

body {
  height: 100%;
}

#site_header .container {
  width: 98%;
  margin-left: 10px;
}

.map_leaderboard {
  margin: 0 auto;
}

#page_content {
  padding-bottom: 0 !important;
}

#mapping {
  overflow-x: none;
  position: relative;
}

#left {
  height: 100%;
  float: left;
  width: 330px;
  overflow: auto;
  position: relative;
}

#left header h3, #left header h4, #left header h5, #left header h6 {
  padding: 15px 15px;
}

#left section header {
  margin-top: 10px;
}

#left section article {
  padding: 10px 15px;
}

#right {
  border-left: 1px solid #999;
  height: auto;
  margin-left: 330px;
  position: relative;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#right .expand {
  border: 0;
}

#right #map_container {
  height: 100%;
}

#right #map_container label {
  display: inline;
}

#right #elevation {
  width: 100%;
  border-left: 0;
  border-top: 1px solid #999;
  border-bottom: 0;
  border-right: 0;
  position: fixed;
  bottom: 0;
  background: #fff;
  margin: 0;
  padding: 0;
}

#right #elevation header {
  padding: 5px;
}

#right #elevation_content {
  height: 160px;
  padding: 0 !important;
}

.mmf_button_group {
  margin-bottom: 5px;
}

.mmf_button_group .mmf_button {
  margin-left: -3px;
  text-align: center;
  width: 20%;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  display: inline-block;
  background: #f0f0f0;
  background: #f0f0f0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #f5f5f5 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5',endColorstr='#FFF0F0F0');
}

.mmf_button_group .mmf_button img, .mmf_button_group .mmf_button .mapping-api-sprite {
  margin: 6px 0 0 0;
}

.mmf_button_group .mmf_button.first {
  -webkit-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
  -webkit-border-bottom-left-radius: 2px;
          border-bottom-left-radius: 2px;
  border-left: 1px solid #dcdcdc;
  margin-left: 0;
}

.mmf_button_group .mmf_button:hover {
  background: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEDEDED',endColorstr='#FFE0E0E0');
}

.mmf_button_group .mmf_button.active {
  background: #e0e0e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #ededed 0%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #ededed 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEDEDED',endColorstr='#FFE0E0E0');
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  /* css3 browsers */
}

.mmf_button_group .mmf_button.active.unverified {
  background: #FAFAD2;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3E694), to(#FAFAD2));
  background: -webkit-linear-gradient(top, #F3E694 0%, #FAFAD2 100%);
  background: linear-gradient(to bottom, #F3E694 0%, #FAFAD2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3E694',endColorstr='#FFFAFAD2');
}

.mmf_button_group .mmf_button.last {
  -webkit-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0;
}

#travel_mode_switcher {
  text-align: center;
}

#bicycle_directions_disclaimer {
  display: none;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

.sprite-fullscreen {
  vertical-align: middle;
}

.mapping-api-sprite {
  background: url("/prod/public/images/min/routes/Mapping-API-UI-Sprite.50e2487576bc.png") no-repeat top left;
  display: inline-block;
}

.sprite-bicycling {
  background-position: 0 0;
  width: 21px;
  height: 21px;
}

.sprite-close {
  background-position: 0 -22px;
  width: 10px;
  height: 10px;
}

.sprite-collapse-left {
  background-position: 0 -33px;
  width: 20px;
  height: 20px;
}

.sprite-collapse-right {
  background-position: 0 -54px;
  width: 20px;
  height: 20px;
}

.sprite-driving {
  background-position: 0 -75px;
  width: 21px;
  height: 21px;
}

.sprite-fullscreen {
  background-position: 0 -97px;
  width: 37px;
  height: 38px;
}

.sprite-geolocate-blue {
  background-position: 0 -136px;
  width: 20px;
  height: 20px;
}

.sprite-geolocate {
  background-position: 0 -157px;
  width: 20px;
  height: 20px;
}

.sprite-icon_search_med {
  background-position: 0 -178px;
  width: 15px;
  height: 15px;
}

.sprite-icon_search_sm {
  background-position: 0 -194px;
  width: 12px;
  height: 12px;
}

.sprite-left {
  background-position: 0 -207px;
  width: 6px;
  height: 12px;
}

.sprite-right {
  background-position: 0 -220px;
  width: 6px;
  height: 12px;
}

.sprite-walking {
  background-position: 0 -233px;
  width: 21px;
  height: 21px;
}

body {
  overflow: hidden;
}

#page_content {
  height: 100%;
}

#fdbk_tab {
  top: 38% !important;
}

.save {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#map-details-save {
  margin-bottom: 7px;
}

#buttons_minimized {
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #CCC;
  position: absolute;
  top: -4px;
  left: 100px;
  margin: 0;
  padding: 10px 10px 8px 10px;
  z-index: 1;
}

#buttons_minimized a:last-child {
  margin-right: 0;
}

#mvpness {
  width: 340px;
  margin: 0 auto;
  background-color: #ffffff;
}

#location-search-text-container,
#directions-b-text-container {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

#location-search-text,
#directions-b-text {
  display: inline;
  padding-right: 30px;
  width: 145px;
  height: 28px;
}

#location-search, #get_directions {
  display: inline-block;
  margin-left: -22px;
  vertical-align: bottom;
}

#get_directions {
  font-size: 12px;
  line-height: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 75px;
  white-space: normal;
}

.geolocate {
  position: relative;
  top: 6px;
  right: 28px;
  opacity: 0.6;
}

.geolocate img {
  background-position: 0 -137px;
  width: 20px;
  height: 20px;
}

.geolocate:hover, #geolocate.active {
  opacity: .9;
}

.ie6 .geolocate, .ie7 .geolocate, .ie8 .geolocate {
  display: none;
}

.ie6 #location-search-text, .ie6 #directions-b-text, .ie7 #location-search-text, .ie7 #directions-b-text, .ie8 #location-search-text, .ie8 #directions-b-text {
  padding-right: 6px;
}

.ie6 #location-search, .ie6 #get_directions, .ie7 #location-search, .ie7 #get_directions, .ie8 #location-search, .ie8 #get_directions {
  margin-left: 10px;
}

#location_search_container, #get_directions_container {
  overflow: visible;
  white-space: nowrap;
}

#location_search_container {
  padding: 8px 12px !important;
  margin-bottom: 0 !important;
}

#location_search_container label {
  line-height: 18px;
  margin-bottom: 5px;
}

#activity_type_select_container {
  display: inline-block;
}

#left-inner, #left-content {
  padding: 0;
}

#left-content {
  overflow-y: auto;
}

#left {
  height: 100%;
  float: left;
  width: 340px;
  overflow: auto;
  position: relative;
}

#left h1, #left h2, #left h3, #left h4, #left h5, #left h6 {
  background: transparent;
  padding-left: 15px;
}

#left header.sub {
  background-color: #efefef;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#left hr {
  margin: 10px;
  width: 95%;
  border: 1px dashed #dddddd;
}

#left span.required {
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
}

#left .left-ad {
  padding: 10px 15px;
}

#left label[for=send-to-phone] {
  display: inline;
}

#left #sharing {
  border-top: solid thin #eaeaea;
  margin-top: 15px;
}

#left #sharing h4 {
  color: #000;
  font-size: 14px;
  line-height: 32px;
  padding-left: 0;
  text-transform: none;
}

#left #sharing div.share_option {
  margin-bottom: 7px;
}

#left #cue-notes {
  margin-bottom: 10px;
}

#left #cue-notes .cue_actions {
  padding: 0 4px;
}

#left #go_pro_advert {
  font-size: 11px;
  text-align: center;
  padding: 2px 0;
  background-color: #efefef;
  border-top: 1px solid #b2b2b2;
}

#fullscreen {
  position: absolute;
  right: 10px;
}

#fullscreen .sprite-fullscreen {
  opacity: 0.7;
  margin-top: -2px;
}

#fullscreen .sprite-fullscreen:hover {
  opacity: 1;
}

#right {
  margin-left: 340px;
  position: relative;
  height: auto;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#right #dynamic-route-ad {
  width: 100%;
  height: 40px;
  background: white;
  cursor: pointer;
}

#right #dynamic-route-ad-message {
  margin-left: 170px;
  line-height: 40px;
  color: black;
  font-size: 11px;
  font-weight: bold;
}

#right #collapse-tab {
  position: absolute;
  top: 160px;
  left: -1px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  z-index: 98;
  -webkit-border-top-right-radius: 7px;
          border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
          border-bottom-right-radius: 7px;
  border: 1px solid #999;
  border-left: 0;
  padding: 3px 0;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#right #collapse-tab a {
  display: inline-block;
  font-size: 24px;
  height: 100%;
  width: 100%;
}

#right #collapse-tab a .mapping-api-sprite {
  margin: 0 0 3px 5px;
}

#right #collapse-tab:hover {
  width: 20px;
  padding-left: 3px;
}

#right #collapse-tab:hover a img {
  opacity: .9;
}

#right #map_container {
  height: 100%;
}

#right #map_container label {
  display: inline;
}

#right #map_container #distance_display {
  padding: 5px 0;
  background-color: #fff;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  text-align: center;
}

#right #map_container #distance_display .distance_display {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  border: 1px solid #666;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: inset 1px 1px 1px #000;
          box-shadow: inset 1px 1px 1px #000;
  /* css3 browsers */
  margin: 0 auto;
}

section .expand_indicator {
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #2f98d9;
  display: inline-block;
  height: 17px;
  margin-right: 6px;
  text-align: center;
  vertical-align: top;
  width: 17px;
}

section .expand_indicator:before {
  content: '\25b8';
}

section.open .expand_indicator:before {
  content: '\25be';
}

#route_details dl dd:last-child {
  border-bottom: 0;
}

#standalone-actions {
  margin-bottom: 7px;
  margin-left: 12px;
}

#cue-notes-print {
  padding: 0 5px;
  float: right;
}

#route_loading_modal {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  background: rgba(0, 0, 0, 0.95);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.95)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9000000',endColorstr='#F2000000');
  height: 100%;
  left: 0;
  padding-top: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

#route_loading_modal .box {
  background: #fff;
  border: 8px solid #ddd;
  display: inline-block;
  margin: 0 auto;
  min-height: 211px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  width: 400px;
}

#route_loading_modal .box .please_wait {
  height: 46px;
  border-top: 1px solid #CCC;
  border-bottom: 1px dotted #CCC;
  padding: 50px 0;
  margin: 10px 0;
}

#route_loading_modal .dfp_section {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

#registration_modal {
  text-align: left !important;
}

#registration_modal form {
  border-top: 1px solid #CCC;
  margin: 10px 0;
}

#registration_modal .simple_form .field,
#registration_modal .simple_form p {
  margin: 2px 0 1px 0;
  padding: 3px 7px;
}

.modal_ad {
  float: left;
}

.ad_overflow_300_250 {
  height: 250px;
  width: 300px;
  overflow: hidden;
}

.ad_overflow_728_90 {
  height: 728px;
  width: 90px;
  overflow: hidden;
}

#modes {
  background-color: #f9f9f9;
  border-top: 1px solid #E2E2E2;
  font-size: 11px;
  padding: 3px 10px;
}

#modes a {
  padding: 0 0 0 5px;
  margin: 0 0 0 4px;
  border-left: 1px solid #E2E2E2;
}

#modes a:first-child {
  border: 0;
  padding: 0;
  margin: 0;
}

#modes #help {
  border: 0;
  padding: 0;
  margin: 0;
}

#modes span.left {
  float: left;
}

#modes span.right {
  float: right;
  text-align: right;
}

#mode_close_wrapper {
  position: relative;
  height: 0;
  line-height: 0;
}

#mode_close {
  border: 1px solid #cfcfcf;
  width: 10px;
  height: 10px;
  position: absolute;
  right: -1px;
  top: 6px;
  padding: 4px;
  z-index: 0;
}

#mode_close .close {
  background-position: 0 -22px;
  width: 10px;
  height: 10px;
  opacity: .7;
}

#mode_close .close:hover {
  opacity: 1;
}

#shared_mode_controls {
  margin-top: 10px;
}

#more_meta_btn {
  margin-left: 4px;
}

#elevation header {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA',endColorstr='#FFF6F6F6');
}

#elevation header h3 {
  display: inline-block;
  font-size: 14px;
}

#elevation header h3 .expand_indicator {
  font-size: 20px;
}

section.expandable, section.not-expandable {
  border-top: 1px solid #dddddd;
}

section.expandable h3, section.not-expandable h3 {
  padding: 5px 15px !important;
  color: #444;
  font-weight: 600;
  font-size: 14px;
}

section.expandable .cue-notes-table, section.not-expandable .cue-notes-table {
  width: 100%;
}

section.expandable .cue-notes-table tr, section.not-expandable .cue-notes-table tr {
  border-bottom: 1px solid #aaa;
}

section.expandable .cue-notes-table tr td, section.not-expandable .cue-notes-table tr td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-size: 12px;
}

section.expandable .cue-notes-table tr td.cue_icon, section.not-expandable .cue-notes-table tr td.cue_icon {
  padding: 0 6px;
  opacity: 0.7;
}

section.expandable .cue-notes-table tr td img, section.not-expandable .cue-notes-table tr td img {
  margin: 0;
  padding: 0;
}

section.expandable .cue-notes-table tr td a.modify, section.not-expandable .cue-notes-table tr td a.modify {
  color: #fff;
}

section.expandable .cue-notes-table tr:hover td, section.not-expandable .cue-notes-table tr:hover td {
  background-color: #ffffea;
}

section.expandable .cue-notes-table tr:hover td a.modify, section.not-expandable .cue-notes-table tr:hover td a.modify {
  color: #046AB2;
}

section.expandable .cue-notes-table tr:hover td.cue_icon, section.not-expandable .cue-notes-table tr:hover td.cue_icon {
  opacity: 1;
}

section.expandable select, section.not-expandable select {
  height: 25px;
  width: 265px;
}

section.expandable input[type="text"], section.expandable textarea, section.not-expandable input[type="text"], section.not-expandable textarea {
  width: 250px;
}

section.expandable #description, section.not-expandable #description {
  min-height: 35px;
  padding: 5px;
}

section.expandable input[type="text"].duration, section.not-expandable input[type="text"].duration {
  width: auto;
  display: inline;
}

section.expandable a.date img, section.not-expandable a.date img {
  float: left;
  margin-right: 5px;
  padding-top: 8px;
}

section.expandable input[type="text"].date, section.not-expandable input[type="text"].date {
  width: 85px;
  display: inline;
  margin-right: 10px;
}

section.expandable .field, section.expandable p, section.not-expandable .field, section.not-expandable p {
  margin: 10px;
}

section.expandable {
  padding-top: 6px;
}

section.not-expandable header {
  margin-top: 0;
}

section.no-border {
  border: 0;
}

section.no-border h3 {
  border: 1px solid #dddddd;
}

.control-group {
  margin-bottom: 8px;
}

.control-group select {
  height: 29px;
}

.control-group .control-label {
  width: 95px;
  float: left;
  text-align: right;
  padding-top: 5px;
}

.control-group .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  color: #999;
}

.modal {
  display: none;
}

.modal .modal-inner .text-centered {
  text-align: center;
}

.modal .modal-inner h1, .modal .modal-inner h2, .modal .modal-inner h3, .modal .modal-inner h4, .modal .modal-inner h5 {
  font-weight: bold;
}

#help img {
  background-position: 0 -158px;
  width: 30px;
  height: 28px;
  opacity: 0.7;
}

#help img:hover {
  opacity: 1;
}

.help-modal {
  max-width: 1000px !important;
}

.help-modal .ui-tooltip-content {
  padding: 0 !important;
}

.help-modal .help-modal-content {
  padding: 10px;
  font-size: 11px;
}

.help-modal .help-modal-content .content-centered {
  text-align: center;
}

.help-modal .help-modal-content div.demo {
  width: 25%;
  float: left;
}

.help-modal .help-modal-content div.demo p {
  text-align: left;
  margin: 0;
  padding: 5px;
}

.help-modal .help-modal-content div.tools {
  float: left;
  width: 66%;
}

.help-modal .help-modal-content div.tools div.tools-inner {
  height: 100%;
  padding: 0 10px;
}

.help-modal .help-modal-content div.tools div.tools-inner table td {
  vertical-align: top;
}

.help-modal .help-modal-content div.tools div.tools-inner table img {
  width: 48px;
  margin-right: 5px;
}

.help-modal .help-modal-content div.follow-roads {
  float: left;
  width: 33%;
}

.help-modal .help-modal-content div.follow-roads div.follow-roads-inner {
  height: 100%;
  padding: 0 10px;
}

.help-modal .help-modal-content div.follow-roads div.follow-roads-inner p {
  margin-bottom: 5px;
}

.help-modal .help-modal-content div.follow-roads div.follow-roads-inner p span {
  font-weight: bold;
}

.help-modal .help-modal-content div.follow-roads div.follow-roads-inner p.last {
  margin-bottom: 0;
}

.help-modal .help-modal-content h3 {
  font-weight: bold;
  font-size: 18px;
}

.help-modal .help-modal-content hr {
  border: 1px dashed #b9b9b9;
  margin: 10px auto;
}

.modal.modal-tags .tag-set {
  float: left;
  padding: 0 8px;
  margin-bottom: 8px;
}

.modal.modal-tags .tag-set h4 {
  color: #555;
}

.modal.modal-tags .tag-set ul.tag-list {
  margin: 0;
}

.modal.modal-tags .tag-set .tag {
  padding: 2px;
}

.modal.modal-tags .tag-set .tag.selected {
  background-color: #e0e0e0;
}

.cue-tip {
  background: #fff;
  border-color: #aaa;
}

.cue-edit {
  padding: 2px;
  text-align: center;
}

.cue-edit textarea {
  display: block;
  margin: 0 0 10px 0;
  padding: 5px;
}

.icon_search {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.ui-tooltip-light {
  max-width: 1024px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  /* css3 browsers */
}

.ui-tooltip.notification {
  font-weight: bold;
  font-size: 16px;
}

#above_map_tout_banner {
  background: #FFFFFF;
  color: #2f98d9;
  display: block;
  height: auto;
  border-bottom: 2px solid #cccccc;
  overflow: hidden;
  padding: 7px 7px 7px 20px;
  text-align: left;
}

#above_map_tout_banner:hover {
  color: #2f98d9;
  text-decoration: none;
}

#above_map_tout_banner img {
  left: -3px;
  position: absolute;
  top: -3px;
}

#above_map_tout_banner em {
  display: inline-block;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: bold;
}

#above_map_tout_banner .close {
  background-position: 3px -19px;
  border: 1px solid #ccc;
  display: block;
  opacity: 0.8;
  padding: 3px;
  position: absolute;
  right: 7px;
  top: 7px;
  height: 10px;
  width: 10px;
}

#above_map_tout_banner .close.hover {
  background-color: #DDDDDD;
  opacity: 1;
}

#mvp_tout {
  bottom: 56px;
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 5px;
}

#mvp_tout img#mvp_tout_close {
  position: absolute;
  top: -5px;
  right: -5px;
}

#mvp_tout a {
  background: url("/prod/public/images/mvp/smallshim1.9010b0c32f23.png") no-repeat 0 0;
  color: #2f98d9;
  display: inline-block;
  height: 53px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 602px;
}

#mvp_tout a:hover {
  color: #2f98d9;
  text-decoration: none;
}

#mvp_tout p {
  margin: 0;
  padding: 9px 30px 10px 156px;
}

#mvp_tout .close {
  background-position: 3px -19px;
  border: 1px solid #ccc;
  display: block;
  opacity: 0.8;
  padding: 3px;
  position: absolute;
  right: 7px;
  top: 7px;
  height: 10px;
  width: 10px;
  background-color: white;
  top: 6px;
}

#mvp_tout .close.hover {
  background-color: #DDDDDD;
  opacity: 1;
}

span.expand, span.contract {
  border: 0;
}

#runforboston {
  display: none;
}
