---
layout: default
---

<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>


    {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">

      {% for post in site.posts %}
        {% unless post.categories contains 'Lifestyle' %}
        {% unless post.categories contains 'Travel' %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
            {{ post.categories | join: ' ' }}  <span class="post-meta"> - {{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.excerpt }}
            <hr />
          </li>
        {% endunless %}
        {% endunless %}
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
