---
layout: default
---

<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>
  <div style=" text-align:center; padding: 5px; margin-bottom:20px;">
  <h1>Hello World</h1>
  Welcome to my personal blog. This is where I go to write about the things that interest me most.
  <br /><br />
  </div>

  <br />
  {{ content }}

  {% if site.posts.size > 0 %}
    <ul class="post-list">

      {% for post in site.posts %}
        {% unless post.categories contains 'Lifestyle' %}
        {% unless post.categories contains 'Reviews' %}
        {% unless post.categories contains 'Adventuring' %}
        {% unless post.categories contains 'Travel' %}
        {% unless post.categories contains 'Race' %}

          <li>
            {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}

            <div style="display: block;">
              <div style="font-weight: 400; float:left;">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </div>
              <div style="float:right;">{{ post.categories | join: ' ' }}  <span class="post-meta"> - {{ post.date | date: date_format }}</span></div>
            </div>
            <div style="clear:both"></div>
            {{ post.excerpt }}
            <hr />
          </li>

        {% endunless %}
        {% endunless %}
        {% endunless %}
        {% endunless %}
        {% endunless %}
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
